<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add post</title>
</head>
<body>
    <h2>Create Post Here :</h2>
    <form method="post" action="/users">
        <label for="id">ID : </label><br><br>
        <input type="text" name="id" id="id" placeholder="Enter Id Here"><br><br>
        <label for="username">UserName : </label><br><br>
        <input type="text" name="username" id="username" placeholder="Enter Username"><br><br>
        <label for="email">Email : </label><br><br>
        <input type="email" name="email" id="email" placeholder="Enter Email"><br><br>
        <label for="avatar">Avatar</label><br><br>
        <input type="file" name="avatar" id="avatar"><br><br>
        <label for="password">Password : </label><br><br>
        <input type="password" name="password" placeholder="Enter Password"><br><br>
        <label for="birthdate">Birth Date</label><br><br>
        <input type="date" name="birthdate" id="birthdate"><br><br>
        <label for="registeredAt">registeredAt</label><br><br>
        <input type="datetime-local" name="registeredAt"><br><br>
        <button>Create Post</button>
    </form>
</body>
</html>